

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema de Cadastro de Alunos{% endblock %}</title>
    <!-- Você pode adicionar seus arquivos CSS aqui -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Sistema de Cadastro de Alunos</h1>
    </header>

    <main>
        {% block content %}
        <!-- Conteúdo específico de cada página será inserido aqui -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 - Meu Projeto</p>
    </footer>
</body>
</html>
